# Python
[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
auto-format = true

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "toml"
auto-format = true

# Yaml
[[language]]
name = "yaml"
language-servers = ["yaml-language-server"]

[language-server.yaml-language-server.config.yaml]
customTags = [
  "!Ref",
  "!Sub",
  "!GetAtt",
  "!ImportValue",
  "!Equals sequence",
  "!And sequence",
  "!Or sequence",
  "!If sequence",
]

[language-server.yaml-language-server.config.yaml.schemas]
"https://raw.githubusercontent.com/awslabs/goformation/master/schema/cloudformation.schema.json" = "cf.{yml,yaml}"
